#header {
    width: 100vw;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    background-color: rgb(34, 34, 34);
    position: relative;
}

#pageTitle {
    vertical-align: middle;
    line-height: 2.5rem;
    font-size: 1.8rem;
    color: #d6d6d6;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

#exportRules {
    vertical-align: bottom;
    line-height: 2.3rem;
    font-size: 1.3rem;
    color: #b3b3b3;
    margin-left: 1rem;
}
#exportRules:hover {
    cursor: pointer;
    color: #c5c5c5;
}

#print {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: #b3b3b3;
    font-size: 1.3rem;
    text-decoration: none;
}
#print:hover {
    cursor: pointer;
    color: #c5c5c5;
}