.rule {
    white-space: pre-wrap;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f8f8f8;
    color: #1c1c1c;
    padding: 0.3rem 0.5rem;
    margin: 0.2rem;
    border-radius: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 2px;
    font-size: 0.9rem;
    transition: box-shadow 0.3s ease-in-out;
}
.rule:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
    cursor: pointer;
}

#unusedTagsContainer {
    width: min(95vw, 70rem);
    height: 10rem;
    background-color: #e3e3e3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 4px;
    margin: 1rem;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
}
#unusedTags {
    height: 4.8rem;
    overflow-y: auto;
    padding-bottom: 0.2rem;
}
#tagsSearch {
    margin: 0.3rem;
    font-size: 1rem;
}

#usedTags {
    width: min(95vw, 70rem);
    min-height: 2rem;
    padding: 0.2rem 0;
    overflow-y: auto;
    background-color: #e3e3e3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 4px;
    margin: 1rem;
    margin-left: 0.5rem;
}

#rulesSearch {
    margin-left: 0.4rem;
    width: min(90vw, 20rem);
    font-size: 1.3rem;
}

#rules {
    width: min(95vw, 70rem);
    height: calc(100vh - 21rem);
    min-height: 18rem;
    background-color: #e3e3e3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 4px;
    margin: 1rem;
    margin-left: 0.5rem;
    margin-top: 0.6rem;
    overflow-y: auto;
}

@media (max-width: 600px) {
    #rules {
        height: auto;
        overflow-y: hidden;
    }
}